*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: 'Questrial', sans-serif;
}

body{
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center 95%;
	justify-content: flex-end;
  width: 100%;
  height: 100vh;
}
.btn-photo-style, .btn-recipe-style{
  font-size: 20px;
  font-family: 'Ranga', sans-serif;
}

.form-style{
  font-size: 35px;
  color: #93073e;
  font-weight: 700;
}
.higher{
  background-color: #84AF9B;
  color: #fc9d99;
  height: 100%;
}

.input-post{
  height: 10vh;
  border: 3px dotted #999;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.post-published {
  margin-top: 4%;
text-transform: uppercase;
}

.style-fondo{

}
.recipe{
  display: none;
}
.logo{
  color: #fc9d99;
  font-family: 'Ranga', sans-serif;
  font-size: 45px;
  margin-top: 8px;
  text-decoration: none;
}
.search{
  background-color: gray;
}
.icons{
  color: #fc9d99;
  margin-top: 20px;
}
.perfil{
  margin-top: 30px;
}

.style-li-prolife{
  font-size: 30px;
  background-color: #fc9d99;
}
.user {
  width: 100vw;
}
.posit{
  background-color:rgb(236, 201, 201);
  margin-top:10%;
  width: 100%;
}
.text{
  font-family: 'Ranga', cursive;
  font-size: 35px;
  text-align: center;
}
.thumbnail {
    width: 171px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.preview {
    position: relative;
}
.preview a {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    display: none;
}
.file-info {
    text-align: center;
    display: block;
}
input[type=file] {
    position: absolute;
    visibility: hidden;
    width: 0;
    z-index: -9999;
}
@media (min-width: 1200px) {
  .style-li-prolife{
    width: 20%;
  }
}
