<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Ranga:100,200,300,400,500,600,700,800,900" rel="stylesheet">    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../vendors/Bootstrap/css/Bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/homepage.css">
	  <link rel="stylesheet" href="../css/homepage2.css">
  </head>
  <body>
    <!--Nav-->
    <div class="nav-movil container-flex">
      <div class="row">
        <div class="col s12 l12 xl12">
          <div class="left-align hide-on-small-only">
            <a class="col s5 letter-logo" href="">Deglú</a>
          </div>
          <div class="col s12 right hide-on-large-only">
            <div class="col s4">
              <a class="icon-prolife btn-nav-movil btn-floating waves-effect waves-light"><i class="material-icons">arrow_back</i></a>
            </div>
            <h3 class="col s8 perfil-letter">Información</h3>
          </div>
          <div class="offset-l2 col l2 right hide-on-small-only">
            <a class="behind btn-nav-movil btn-floating waves-effect waves-light"><i class="material-icons">home</i></a>
            <a class="icon-chat btn-nav-movil btn-floating waves-effect"><i class="material-icons">mail</i></a>
            <a class="icon-prolife btn-nav-movil btn-floating waves-effect"><i class="material-icons">person</i></a>
          </div>
        </div>
      </div>
    </div>
    <!--perfil foto e información-->
    <div class="container-flex">
      <div class="row">
        <div class="text-center hide-on-large-only content-prolife">
          <a href="#"><img src="../assets/images/user.png" alt="" class="col s4 img-person-prolife img-person img-circle"></a>
          <div class="col s7 content-information-total">
            <div class="information-name content-information"></div>
            <div class="information-national content-information"></div>
            <div class="information-specialty content-information"></div>
            <div class="information-age content-information"></div>
            <div class="information-studies content-information"></div>
          </div>
        </div>
        <div class="col s12 nav-content hide-on-large-only content-prolife">
          <ul class="nav nav-tabs">
            <li class="li-style waves-effect style-li-prolife-movile" role="presentation" class="active"><a class="li-style" href="#">Información</a></li>
            <li class="li-style waves-effectstyle-li-prolife-movile" role="presentation"><a class="li-style" href="#">Amigos</a></li>
            <li class="btn-photo-redirecciona  li-style waves-effect style-li-prolife-movile" role="presentation"><a class="li-style" href="#">Fotos</a></li>
            <li class="li-style waves-effect style-li-prolife-movile" role="presentation"><a class="li-style" href="#">Videos</a></li>
            <li class="li-style waves-effect style-li-prolife-movile btn-receta" role="presentation"><a class="li-style" href="#">Recetas</a></li>
          </ul>
        </div>
        <div class="hide-on-large-only col 12">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" type="text" class="name-inf validate">
                  <label for="icon_prefix">First Name</label>
                </div>
                <div class="input-field col s12">
                  <i class="fa fa-address-card-o prefix" aria-hidden="true"></i>
                  <input id="icon_prefix" type="text" class="validate age-inf">
                  <label for="icon_prefix">Edad</label>
                </div>
                <div class="input-field col s12">
                  <i class="fa fa-globe prefix" aria-hidden="true"></i>
                  <input id="icon_telephone" type="tel" class="national-inf validate">
                  <label for="icon_telephone">Nacionalidad</label>
                </div>
                <div class="input-field col s12">
                  <i class="fa fa-graduation-cap prefix" aria-hidden="true"></i>
                  <input id="icon_telephone" type="tel" class="validate studies-inf">
                  <label for="icon_telephone">Estudios</label>
                </div>
                <div class="input-field col s12">
                  <i class="fa fa-book prefix" aria-hidden="true"></i>
                  <input id="icon_telephone" type="tel" class="input validate specialty-inf">
                  <label for="icon_telephone">Especialidad</label>
                </div>
              </div>
              <div class="offset-s3 col s4">
                <button class="btn-information btn waves-effect waves-light" type="submit" name="action" disabled>Guardar
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="text-center hide-on-small-only content-prolife-deskotp">
          <a href="#"><img src="../assets/images/user.png" alt="" class="offset-l1 col l2 img-person-prolife img-person img-circle"></a>
          <div class="offset-l2 col l4 content-information-total2">
            <div class="information-name content-information2"></div>
            <div class="information-national content-information2"></div>
            <div class="information-specialty content-information2"></div>
            <div class="information-age content-information2"></div>
            <div class="information-studies content-information2"></div>
          </div>
        </div>
        <div class="col l12 hide-on-small-only">
          <div class="col l4">
            <ul class="nav-vertical collapsible" data-collapsible="accordion">
             <li class="nav-home-deskotp">
               <div class="nav-home-deskotp waves-effect collapsible-header"><i class="material-icons btn-information">format_color_text</i>Información</div>
             </li>
             <li class="btn-photo-redirecciona nav-home-deskotp">
               <div class="btn-photo-redirecciona nav-home-deskotp waves-effect collapsible-header"><i class="material-icons">collections</i>Fotos</div>
             </li>
             <li class="nav-home-deskotp">
               <div class="nav-home-deskotp waves-effect collapsible-header"><i class="material-icons">video_library</i>Videos</div>
             </li>
             <li class="nav-home-deskotp">
               <div class="nav-home-deskotp waves-effect collapsible-header"><i class="material-icons">insert_drive_file</i>Recetas</div>
             </li>
           </ul>
         </div>
         <div class="row">
           <form class="col l8">
             <div class="row">
               <div class="input-field col l8">
                 <i class="material-icons prefix">account_circle</i>
                 <input id="icon_prefix" type="text" class="name-inf validate">
                 <label for="icon_prefix">First Name</label>
               </div>
               <div class="input-field col l8">
                 <i class="fa fa-address-card-o prefix" aria-hidden="true"></i>
                 <input id="icon_prefix" type="text" class="validate age-inf">
                 <label for="icon_prefix">Edad</label>
               </div>
               <div class="input-field col l8">
                 <i class="fa fa-globe prefix" aria-hidden="true"></i>
                 <input id="icon_telephone" type="tel" class="national-inf validate">
                 <label for="icon_telephone">Nacionalidad</label>
               </div>
               <div class="input-field col l8">
                 <i class="fa fa-graduation-cap prefix" aria-hidden="true"></i>
                 <input id="icon_telephone" type="tel" class="validate studies-inf">
                 <label for="icon_telephone">Estudios</label>
               </div>
               <div class="input-field col l8">
                 <i class="fa fa-book prefix" aria-hidden="true"></i>
                 <input id="icon_telephone" type="tel" class="input validate specialty-inf">
                 <label for="icon_telephone">Especialidad</label>
               </div>
             </div>
             <div class="offset-s3 col s4">
               <button class="btn-information btn waves-effect waves-light" type="submit" name="action" disabled>Guardar
               </button>
             </div>
           </form>
         </div>

        </div>

      </div>
    </div>

    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/Bootstrap/js/Bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="../js/personalInformation.js"></script>
    <script type="text/javascript" src="../js/homepage2.js"></script>
    <script type="text/javascript" src="../js/homepage.js"></script>
    <script type="text/javascript" src="../js/redireccionando.js"></script>
    <script type="text/javascript" src="../js/prolife.js"></script>
  </body>
</html>
