<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Ranga:100,200,300,400,500,600,700,800,900" rel="stylesheet">    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../vendors/Bootstrap/css/Bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/homepage2.css">
    <link rel="stylesheet" href="../css/homepage.css">
    <link rel="stylesheet" href="../css/photo.css">
  </head>
  <body>
    <!--Nav-->
    <div class="nav-movil container-flex">
      <div class="row">
        <div class="col s12 l12 xl12">
          <div class="left-align">
            <a class="col s5 letter-logo" href="">Deglú</a>
          </div>
          <div class="col s6 right hide-on-large-only">
            <a class="behind btn-nav-movil btn-floating waves-effect waves-light"><i class="material-icons">home</i></a>
            <a class=" icon-chat btn-nav-movil btn-floating waves-effect"><i class="material-icons">mail</i></a>
            <a class="icon-prolife btn-nav-movil btn-floating waves-effect"><i class="material-icons">person</i></a>
          </div>
          <div class="offset-l2 col l2 right hide-on-small-only">
            <a class="behind btn-nav-movil btn-floating waves-effect waves-light"><i class="material-icons">home</i></a>
            <a class=" icon-chat btn-nav-movil btn-floating waves-effect"><i class="material-icons">mail</i></a>
            <a class="icon-prolife btn-nav-movil btn-floating waves-effect"><i class="material-icons">person</i></a>
          </div>
        </div>
      </div>
    </div>
   <!--Photos-->
   <div class="container">
     <div class="row">
       <div class="col s12">
         <div class="col s12 l4 xl4">
           <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
               <img class="img-photos activator" src="../assets/images/tiramisu.jpg">
             </div>
             <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">Tiramisú<i class="material-icons right">more_vert</i></span>
             </div>
             <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">Tiramisú<i class="material-icons right">close</i></span>
               <p>El tiramisú (del italiano tiramisù) es un postre frío de cuchara que se monta en capas.</p>
             </div>
           </div>
         </div>
         <div class="col s12 l4 xl4">
           <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
               <img class="img-photos activator" src="../assets/images/coulant.jpg">
             </div>
             <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">Coulan de Chocolate<i class="material-icons right">more_vert</i></span>
             </div>
             <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">Coulan de Chocolate<i class="material-icons right">close</i></span>
               <p>Conocido postre de chocolate patentado por el chef francés Michel Brasen que se presenta como pequeño bizcocho de chocolate con el interior fundido.</p>
             </div>
           </div>
         </div>
         <div class="col s12 l4 xl4">
           <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
               <img class="img-photos activator" src="../assets/images/suspiro.jpg">
             </div>
             <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">Suspiro a la limeña<i class="material-icons right">more_vert</i></span>
             </div>
             <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">Suspiro a la limeña<i class="material-icons right">close</i></span>
               <p>El suspiro de limeña, conocido también como suspiro limeño o suspiro a la limeña, es un postre tradicional de la gastronomía del Perú teniendo su origen en la capital peruana. </p>
             </div>
           </div>
         </div>
         <div class="col s12 l4 xl4">
           <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
               <img class="img-photos activator" src="../assets/images/suspiro.jpg">
             </div>
             <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">Suspiro a la limeña<i class="material-icons right">more_vert</i></span>
             </div>
             <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">Suspiro a la limeña<i class="material-icons right">close</i></span>
               <p>El suspiro de limeña, conocido también como suspiro limeño o suspiro a la limeña, es un postre tradicional de la gastronomía del Perú teniendo su origen en la capital peruana. </p>
             </div>
           </div>
         </div>


         </div>
       </div>
     </div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/Bootstrap/js/Bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="../js/homepage2.js"></script>
    <script type="text/javascript" src="../js/homepage.js"></script>
    <script type="text/javascript" src="../js/redireccionando.js"></script>
  </body>
</html>
