<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Ranga:100,200,300,400,500,600,700,800,900" rel="stylesheet">    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../vendors/Bootstrap/css/Bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/homepage2.css">
    <link rel="stylesheet" href="../css/homepage.css">
    <link rel="stylesheet" href="../css/photo.css">
  </head>
  <body>
    <!--Nav-->
    <div class="nav-movil container-flex">
      <div class="row">
        <div class="col s12 l12 xl12">
          <div class="left-align">
            <a class="col s5 letter-logo" href="">Deglú</a>
          </div>
          <div class="col s6 right hide-on-large-only">
            <a class="btn-nav-movil btn-floating waves-effect waves-light"><i class="material-icons">home</i></a>
            <a class="btn-nav-movil btn-floating waves-effect"><i class="material-icons">mail</i></a>
            <a class="btn-nav-movil btn-floating waves-effect"><i class="material-icons">person</i></a>
          </div>
          <div class="offset-l2 col l2 right hide-on-small-only">
            <a class="btn-nav-movil btn-floating waves-effect waves-light"><i class="material-icons">home</i></a>
            <a class="btn-nav-movil btn-floating waves-effect"><i class="material-icons">mail</i></a>
            <a class="btn-nav-movil btn-floating waves-effect"><i class="material-icons">person</i></a>
          </div>
        </div>
      </div>
    </div>
    <!--Recipes-->
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3 class="col s12">TIRAMISÚ</h3>
          <div class="col s4">
            <img class="img-logo" src="../assets/images/tiramisu.jpg" alt="">
          </div>
           <h5 class="col s12">INGREDIENTES</h5>
           <ul class="col s12">
             <li>400 g. de queso-crema Mascarpone</li>
             <li>6 huevos (de los que empleamos 6 yemas y 4 claras)</li>
             <li>150 g. de azúcar glas (100 g. para las yemas y 50 g. para las claras)</li>
             <li>300 g. de bizcochos de soletilla</li>
             <li>4 cucharadas de Amaretto o el licor que nos guste</li>
             <li>100 g. de cacao en polvo</li>
             <li>175 g. de café fuerte (el que más nos guste)</li>
             <li>1 pellizco de sal para montar las claras</li>
           </ul>
        </div>



         <div class="col s12">
           <h5 class="col s12">PREPARACI</h5>
           <ul class="col s8">
             <li>400 g. de queso-crema Mascarpone</li>
             <li>6 huevos (de los que empleamos 6 yemas y 4 claras)</li>
             <li>150 g. de azúcar glas (100 g. para las yemas y 50 g. para las claras)</li>
             <li>300 g. de bizcochos de soletilla</li>
             <li>4 cucharadas de Amaretto o el licor que nos guste</li>
             <li>100 g. de cacao en polvo</li>
             <li>175 g. de café fuerte (el que más nos guste)</li>
             <li>1 pellizco de sal para montar las claras</li>
           </ul>
         </div>
       </div>
     </div>
    </div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/Bootstrap/js/Bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="../js/homepage2.js"></script>
    <script type="text/javascript" src="../js/homepage.js"></script>
    <script type="text/javascript" src="../js/redireccionando.js"></script>
  </body>
</html>
